.sidenav {
    background-color: rgb(84, 84, 226);
    width: 200px;
}
.sidenav a{
    color: rgb(242, 242, 245);
}

.sidenav i{
    padding-right: 10px;
}
.content {
padding: 16px ;
background-color: white;

}