/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: red;

}
.v-middle {
    vertical-align: middle;
}
.msg-successo{
    background-color: #28a745;
    color: #ffff;
}

.msg-erro{
    background-color: rgb(233, 142, 142);
}